<% if current_user and can? :review, SessionProposal %>
  <div ng-cloak ng-init="reviews()" fade-animation="true" class="row">
    <div ng-if="loading" class="loading">
      <p class="text-center"><span class="ion-loading-a"></span></p>
    </div>
    <div ng-if="!loading">
      <div ng-if="reviews.length == 0" class="no-search-results">
        <h2 class="text-center">Aún no has hecho ninguna revisión!</h2>
      </div>

      <div ng-if="reviews.length > 0" fade-animation="true">
        <h2 class="text-center">Mis revisiones</h2><br><br>

        <div ng-repeat="review in reviews" class="row session-summary">
          <div class="col-sm-2 text-center">
            <div class="review-score center-block" ng-class="{'bg-green': goodReview(review.score), 'bg-yellow': poorReview(review.score), 'bg-red': badReview(review.score)}">
              <span ng-class="{'for-green': goodReview(review.score), 'for-yellow': poorReview(review.score), 'for-red': badReview(review.score)}">{{review.score}}</span>
            </div>
          </div>
          <div class="col-sm-10">
            <h3>
              <a ng-href="#/sessions/show/{{review.session_proposal_id}}">{{review.session_proposal_title}}</a>
              <a ng-href="#/sessions/show/{{review.session_proposal_id}}" class="btn btn-xs btn-primary pull-right" style="color:white">
                Ver propuesta &nbsp; <span class="glyphicon glyphicon-file" aria-hidden="true"></span>
              </a>
            </h3>
            <div class="author">{{review.session_proposal_author}}</div>
            <p>{{review.body}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="no-review-access">
    <h4 class="text-muted text-center">
      No tienes permiso para hacer revisiones... <br><br>
      <span class="ion-sad"></span>
    </h4>
  </div>
<% end %>
