<div class="container" ng-cloak ng-init="getSessionsWithVotes()" fade-animation="true">
  <div class="col-sm-10">
    <h3><%= t('reports.labels.title.session_votes') %></h3><br>

    <table class="table table-hover table-condensed" ng-if="sessions.length > 0">
      <thead>
        <th width="20%"></th>
        <th width="80%"></th>
      </thead>
      <tr ng-repeat="session in sessions | orderBy:'-votes'" class="reviewers-comments-summary" ng-show="isVisibleTheme(session.theme)">
        <td class="">
          <div class="text-xs-center">
            <div class="votes-count center-block"><span>{{session.votes}}</span></div>
          </div>
        </td>
        <td class="session">
          <h4>
            <a ng-href="#/sessions/show/{{session.id}}" target="_blank">{{session.title}}</a>
            <br><small><i>{{session.author}}</i></small>
          </h4>
        </td>
      </tr>
    </table>
  </div>
  <div ng-include="'templates/themes_list.html'"></div>
</div>
