<div class="col-sm-4 social-login-association">
  <%- if devise_mapping.omniauthable? %>
    <h4><%= t('devise.title.social_linked') %></h4>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <% class_delta, action, message = link_context_for provider %>
      <div class="center-block">
        <%= link_to content_tag(:span, '', class: "btn-social #{class_delta}"), action %>
        <span class="text-muted"><em><%= message %></em></span>
      </div>
    <% end -%>
  <% end -%>
</div>