<div class="col-sm-5 social-login-container">
  <%- if devise_mapping.omniauthable? %>
    <h5><%= t('devise.title.social_login') %></h5>
    <%- resource_class.omniauth_providers.each do |provider| %>
      <% provider_icon = social_icon_for provider %>
      <div class="col-xs-4 text-center">
        <%= link_to '', "auth/#{provider}", class: "btn btn-social btn-#{provider} #{provider_icon}" %>
      </div>
    <% end -%>
  <% end -%>
</div>
