<div class="container error" ng-cloak ng-init="init()" animate-with="fadeIn">
  <br><br><br>
  <h3 class="text-muted text-xs-center">
    {{error}} <br><br>
    <span class="fa fa-frown-o"></span>
  </h3>
</div>