<div class="container error" ng-cloak ng-init="init()" fade-animation="true">
  <br><br><br>
  <h3 class="text-muted text-xs-center">
    {{error}} <br><br>
    <span class="ion-sad-outline"></span>
  </h3>
</div>