<div ng-cloak ng-init="init()">
  <h1>Sesiones</h1>

  <div ng-repeat="session in sessions">
    <h3>{{session.title}} <span class="author">{{session.author}}</span></h3>
    <p>{{session.description}}</p>
  </div>

  <button id="add-button" ng-click="showAddNewSession = !showAddNewSession">Agregar Sesión</button>
  <div ng-show="showAddNewSession">
    <h5>Nueva sesión</h5>
    <input type="text" placeholder="Autor" ng-model="newSession.author"><br>
    <input type="text" placeholder="Título" ng-model="newSession.title"><br>
    <textarea type="text" placeholder="Descripción" ng-model="newSession.description"></textarea><br>
    <button id="create-button" ng-click="createSession()">Confirmar</button>
  </div>
</div>