<div ng-cloak ng-init="init()" ng-cloak fade-animation="true">
  <h1>Sesiones</h1>

  <div ng-repeat="session in sessions">
    <h3>{{session.title}} <span class="author">{{session.author}}</span></h3>
    <p>{{session.description}}</p>
  </div>

  <button id="add-button" ng-click="showAddNewSession = !showAddNewSession">Agregar Sesión</button>
  <div ng-show="showAddNewSession">

    <div class="form-horizontal">
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-6"><h3>Nueva sesión</h3></div>
      </div>
      <div class="form-group">
        <label for="input-title" class="col-sm-2 control-label">Título</label>
        <div class="col-sm-6">
          <input type="text" id="input-title" placeholder="Título" ng-model="newSession.title" class="form-control">
        </div>
      </div>
      <div class="form-group">
        <label for="input-description" class="col-sm-2 control-label">Descripción</label>
        <div class="col-sm-6">
          <textarea type="text" id="input-description" class="form-control" placeholder="Descripción" ng-model="newSession.description" rows="10"></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-6">
          <button id="create-button" class="btn btn-primary" ng-click="createSession()">Confirmar</button>
        </div>
      </div>
    </div>
  </div>
</div>