<div class="container" ng-cloak ng-init="init()" fade-animation="true"><br>
  <div class="col-sm-12 text-center">
    <ul class="list-inline">
      <li ng-repeat="theme in themes" class="tag lg bg-primary clickable" ng-class="{'bg-primary': theme.active, 'bg-info text-muted': !theme.active}" ng-click="toggleTheme(theme)">{{theme.name}}</li>
      <br><span><small><em>click a theme to enable/disable</em></small></span>
    </ul>
    <br>
  </div>
  <div class="col-sm-12">
    <highchart config="byThemeChartConfig"></highchart>
  </div>
</div>
