<div class="container" ng-cloak ng-init="init()" fade-animation="true"><br>
  <div class="col-sm-10">
    <div class="col-sm-12 text-primary text-right" style="padding-right:7px" ng-if="totalProposals >= 0">
      <h4 style="font-weight:300">Total proposals: {{totalProposals}}</h4>
    </div>
    <div class="col-sm-12 chart-container">
      <highchart config="byThemeChartConfig" ng-if="byThemeChartConfig != undefined"></highchart>
    </div>
    <div class="col-sm-12 chart-container">
      <highchart config="byReviewsChartConfig" ng-if="byReviewsChartConfig != undefined"></highchart>
    </div>
    <div class="col-sm-12 chart-container" ng-if="themeDetailChartVisible">
      <highchart config="themeDetailsChartConfig"></highchart>
      <a id="scroll-to-bottom" style="visibility:hidden"></a>
    </div>
  </div>
  <div ng-include="'templates/themes_list.html'"></div>
</div>
