<div class="card card-animated" helpable="<%= t('sessions.help.session_title') %>" data-index="{{$index}}">
  <div class="tags" ng-class="{visible: session.tagsVisible}">
    <span ng-repeat="tag in session.tags track by $index" class="tag sm bg-primary clickable" ng-click="search(tag)">
      {{tag}}
    </span>
  </div>
  <div class="share" ng-class="{visible: session.shareVisible}">
    <div class="row buttons" ng-if="session.shareVisible">
      <div class="col-xs-4 text-xs-right">
        <span tweet="{{session.id}}" data-text="I am checking out this session!"></span>
      </div>
      <div class="col-xs-4 text-xs-center">
        <span facebook="{{session.id}}"></span>
      </div>
      <div class="col-xs-4 text-xs-left">
        <span google-plus="{{session.id}}"></span>
      </div>
    </div>
  </div>
  <div class="card-block col-xs-12 clickable" navigate-to="{{session.id}}">
    <div class="pull-xs-left">
      <img ng-src="{{session.author.avatar_url}}" class="avatar img-circle" default-avatar-if-error>
    </div>
    <div style="margin-left:50px">
      <p class="author">{{session.author.name}}</p>
      <h5 class="title text-primary">{{session.title}}</h5>
    </div>
  </div>
  <div class="card-footer col-xs-12">
    <span ng-if="session.tags.length > 0" class="fa fa-tags clickable" ng-class="{'text-muted': !session.tagsVisible, 'text-primary': session.tagsVisible}" ng-click="session.tagsVisible = !session.tagsVisible" helpable="<%= t('sessions.help.tags') %>" data-index="{{$index}}"></span>
    <a ng-if="session.video_link != ''" ng-href="{{session.video_link}}" target="_blank">
      <span class="fa fa-video-camera text-muted clickable"></span>
    </a>
    <% if current_user %>
      <span ng-include="'templates/sessions/actions.html'"></span>
    <% end %>
  </div>
</div>
