<div ng-cloak ng-init="getSessionVotedAndFavedIds()" animate-with="fadeIn" class="row"><br>
  <div sticky offset="10" class="row search-unsticked" sticky-class="search-sticked" ng-cloak ng-init="initSearch()">
    <div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 form-group">
      <div class="input-group searchbox">      
        <input type="text" class="form-control"
          ng-model="searchTerms" 
          ng-model-options="{ debounce: 1000 }"
          ng-change="search()"
          helpable="<%= t('sessions.help.search') %>">
        <div class="input-group-addon">
          <span class="fa fa-search" aria-hidden="true"></span>
        </div>
      </div>
      <p ng-if="!loading && searchTerms != '' && total != 0" class="text-muted text-xs-center" animate-with="fadeIn">
        <small><i>{{total}} matching results</i></small>
      </p>
    </div>

    <div ng-if="!loading && matched_tags.length > 0 && searchTerms != ''" class="col-sm-12 matched-tags text-xs-center" animate-with="fadeIn">
      <small><span class="text-muted"><%= t('sessions.labels.matching_tags').html_safe %></span></small>
      <span ng-repeat="tag in matched_tags track by $index" class="tag sm bg-primary clickable" ng-click="search(tag.key)">
        {{tag.key}} <small>({{tag.doc_count}})</small>
      </span>
    </div>
  </div>

  <div style="position:fixed;top:0">{{availableVotes}}</div>
  <div class="col-md-12">
    <div ng-if="loading" class="loading">
      <p class="text-xs-center"><span class="fa fa-spinner fa-pulse"></span></p>
    </div>
    <div ng-if="!loading" ng-include="'templates/sessions/search_result.html'"></div>
  </div>

  <div ng-include="'templates/sessions/search_side_bar.html'"></div>
</div>
