<div ng-cloak ng-init="init()" ng-cloak fade-animation="true" class="row">
  <h2 class="text-center">Y los temas candidatos son...</h2>

  <div class="row" style="padding:0 25px">
    <div class="col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 form-group has-feedback">
      <input type="text" class="form-control" 
        ng-model="searchTerms" 
        ng-model-options="{ debounce: 1000 }"
        ng-change="search()">
      <span class="glyphicon glyphicon-search form-control-feedback" style="margin-right:15px" aria-hidden="true"></span>
      <p ng-if="searchTerms != '' && total != 0" class="text-muted text-center" fade-animation="true">
        <small><i>hemos encontrado {{total}} resultados relacionados a tu búsqueda</i></small>
      </p>
    </div>
  </div>

  <div class="col-md-8">
    <div ng-if="loading" class="loading">
      <p class="text-center"><span class="ion-loading-a"></span></p>
    </div>
    <div ng-if="!loading" ng-include="'templates/sessions/search_result.html'"></div>
  </div>

  <div class="col-md-offset-1 col-md-3">
    <div class="action-button-container">
      <a class="img-circle btn-action info non-clickable" rubber-band-animation="availableVotes">
        <span class="text" aria-hidden="true">{{availableVotes}}</span>
      </a>
      <div class="divisor"></div>
      <a class="img-circle btn-action info">
        <span class="text" aria-hidden="true">?</span>
      </a>
      <div class="divisor"></div>
      <a class="img-circle btn-action primary" href="<%= root_url + '#/sessions/new' %>">
        <span class="ion-plus-round icon" aria-hidden="true"></span>
      </a>
    </div>
    <br><br>
    <div ng-if="matched_tags.length > 0" class="text-center">
      <h3>Otros tags relevantes</h3>
      <ul class="list-inline">
        <li ng-repeat="tag in matched_tags track by $index" class="tag lg bg-primary clickable" ng-click="search(tag.key)">
          {{tag.key}} <small>({{tag.doc_count}})</small>
        </li>
      </ul>
    </div>
  </div>
</div>
