<div ng-cloak ng-init="initForm()" fade-animation="true" class="row">
  <div class="form-horizontal">
    <div class="form-group">
      <div class="text-center"><h2>¿De qué te gustaría hablar?</h2></div>
    </div>
    <div class="form-group" ng-class="{'has-error has-feedback': newSession.invalidTitle}">
      <label for="input-title" class="col-sm-2 control-label">Título</label>
      <div class="col-sm-8">
        <input type="text" id="input-title" placeholder="Título" ng-model="newSession.title" class="form-control">
        <span ng-if="newSession.invalidTitle" class="glyphicon glyphicon-remove form-control-feedback" aria-hidden="true"></span>
        <small ng-if="newSession.invalidTitle" class="text-danger">Es necesario que indiques un título</small>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error has-feedback': newSession.invalidTrackId}">
      <label for="select-track" class="col-sm-2 control-label">Track</label>
      <div class="col-sm-8">
        <%= select_tag "track", options_from_collection_for_select(Track.all, "id", "name"), { id: "select-track", 'ng-model': "newSession.track_id", class: "form-control selectpicker" } %>
        <small ng-if="newSession.invalidTrackId" class="text-danger">Es necesario que indiques el track</small>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error has-feedback': newSession.invalidSummary}">
      <label for="input-summary" class="col-sm-2 control-label">Sinopsis</label>
      <div class="col-sm-8">
        <ul class="nav nav-tabs" ng-init="previewSummary = false">
          <li role="presentation" ng-class="{active: !previewSummary}"><a ng-click="previewSummary = !previewSummary"><small>Texto</small></a></li>
          <li role="presentation" ng-class="{active: previewSummary}"><a ng-click="previewSummary = !previewSummary"><small>Vista previa</small></a></li>
        </ul>
        <div ng-if="!previewSummary" fade-animation="true">
          <textarea type="text" id="input-summary" class="form-control" placeholder="Sinopsis de la sesión" ng-model="newSession.summary" rows="6"></textarea>
          <small ng-if="newSession.invalidSummary" class="text-danger">Es necesario que proveas una sinopsis</small>
          <small class="text-muted">Tip: podes usar <a href="https://guides.github.com/features/mastering-markdown/#examples" target="_blank">markdown</a> para dar formato a tu texto</small>
        </div>
        <div ng-if="previewSummary" fade-animation="true">
          <br><p markdown="newSession.summary"></p>
        </div>
      </div>
    </div>
    <div class="form-group" ng-class="{'has-error has-feedback': newSession.invalidDescription}">
      <label for="input-description" class="col-sm-2 control-label">Descripción</label>
      <div class="col-sm-8">
        <ul class="nav nav-tabs" ng-init="previewDescription = false">
          <li role="presentation" ng-class="{active: !previewDescription}"><a ng-click="previewDescription = !previewDescription"><small>Texto</small></a></li>
          <li role="presentation" ng-class="{active: previewDescription}"><a ng-click="previewDescription = !previewDescription"><small>Vista previa</small></a></li>
        </ul>
        <div ng-if="!previewDescription" fade-animation="true">
          <textarea type="text" id="input-description" class="form-control" placeholder="Descripción, donde podes incluir el formato, la dinámica a usar, etc" ng-model="newSession.description" rows="10"></textarea>
          <small ng-if="newSession.invalidDescription" class="text-danger">Es necesario que proveas una descripción</small>
          <small class="text-muted">Tip: podes usar <a href="https://guides.github.com/features/mastering-markdown/#examples" target="_blank">markdown</a> para dar formato a tu texto</small>
        </div>
        <div ng-if="previewDescription" fade-animation="true">
          <br><p markdown="newSession.description"></p>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="input-videolink" class="col-sm-2 control-label">Video presentación</label>
      <div class="col-sm-8">
        <input type="text" id="input-videolink" placeholder="i.e.: http://youtube.com/watch?v=..." ng-model="newSession.video_link" class="form-control">
      </div>
    </div>
    <div class="form-group">
      <label for="input-tags" class="col-sm-2 control-label">Tags</label>
      <div class="col-sm-8">
        <input type="text" id="input-tags" placeholder="Tags" class="form-control" tag-suggestion>
        <ul class="list-inline">
          <li ng-repeat="tag in newSession.tags track by $index" class="tag lg bg-primary" fade-animation="true">
            <span class="ion-android-close clickable" aria-hidden="true" style="padding-right:10px" ng-click="removeTag($index)"></span>{{tag}}
          </li>
        </ul>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-8">
        <button id="create-button" class="btn btn-primary pull-right" ng-click="createSession()" ng-if="isNew()">
          Crear propuesta
        </button>
        <button id="create-button" class="btn btn-primary pull-right" ng-click="updateSession()" ng-if="!isNew()">
          Actualizar propuesta
        </button>
      </div>
    </div>
  </div>
</div>