<div ng-if="sessions.length == 0" class="no-search-results">
  <h4 ng-if="searchTerms != ''" class="text-muted text-xs-center">
    <%= t('sessions.labels.no_search_results').html_safe %>
    <br><br><span class="fa fa-frown-o"></span>
  </h4>
  <h4 ng-if="searchTerms == ''" class="text-muted text-xs-center">
    <%= t('sessions.labels.no_sessions').html_safe %>
  </h4>
</div>

<div ng-if="sessions.length > 0" class="card-columns">
  <div ng-repeat="session in sessions" fade-animation="true">
    <div ng-include="'templates/sessions/card.html'"></div>
  </div>
</div>

<button class="btn btn-primary btn-sm center-block" ng-if="sessions.length < total" ng-click="loadMore()" style="margin-top:20px;margin-bottom:100px;padding:5px 50px">
  <%= t('sessions.buttons.load_more') %>
</button>
<div ng-if="sessions.length >= total" style="margin-bottom:100px"></div>
<div id="bottom-fade"></div>
