<div ng-if="sessions.length == 0" class="no-search-results">
  <h4 class="text-muted text-center">
    No hemos podido encontrar resultados <br> que concuerden con la búsqueda... <br><br>
    <span class="ion-sad-outline"></span>
  </h4>
</div>

<div ng-if="sessions.length > 0" class="scrollable" style="height:500px"><br>
  <div ng-repeat="session in sessions" class="session-summary" fade-animation="true">
    <h3>
      {{session.title}} 
      <span class="actions pull-right">
        <span ng-click="vote($index)" ng-if="!session.voted" class="ion-android-checkbox-outline-blank text-success"></span>
        <span ng-click="vote($index)" ng-if="session.voted" class="ion-android-checkbox-outline text-success"></span>
        <span class="ion-chatboxes text-muted"></span>
        <span ng-click="fav($index)" ng-if="!session.faved" class="ion-android-star-outline text-warning"></span>
        <span ng-click="fav($index)" ng-if="session.faved" class="ion-android-star text-warning"></span>
      </span>      
    </h3>
    <div class="author">{{session.author}}</div>
    <p>{{session.description}}</p>
    <div><ul class="list-inline">
      <li ng-repeat="tag in session.tags track by $index" class="tag sm bg-primary" ng-click="search(tag)">
        {{tag}}
      </li>
    </ul></div>
  </div>
  <button class="btn btn-primary btn-sm center-block" ng-click="loadMore()" style="margin-top:20px;padding:5px 50px">Cargar mas...</button>
</div>
