<div ng-cloak ng-init="show()" fade-animation="true" class="row">
  <div class="row session-detail">
    <div class="col-sm-2 text-center">
      <img ng-src="{{session.author.avatar_url}}" class="avatar lg img-circle">
      <div class="author">{{session.author.name}}</div>
      <div class="text-muted date" time-from-now="session.date"></div>
    </div>
    <div class="col-sm-8">
      <h2>
        {{session.title}}
        <a ng-if="session.editable" ng-href="#/sessions/edit/{{session.id}}" class="btn btn-xs btn-success pull-right" style="margin:10px">
          Editar propuesta &nbsp; <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
        </a>
      </h2>
      <ul class="list-inline">
        <li ng-repeat="tag in session.tags track by $index" class="tag sm bg-primary">{{tag}}</li>
      </ul>

      <p markdown="session.description"></p>
    </div>
  </div>
  <br><hr>

  <div class="row session-comment" ng-repeat="comment in session.comments" fade-animation="true">
    <div class="col-sm-2 text-center ">
      <img ng-src="{{comment.author.avatar_url}}" class="avatar lg img-circle">
      <div class="author">{{comment.author.name}}</div>
      <div class="text-muted date" time-from-now="comment.date"></div>
    </div>
    <div class="col-sm-8">
      <p>{{comment.body}}</p>
    </div>
    <div class="col-sm-12"><hr></div>
  </div>

  <div class="row session-comment" fade-animation="true">
    <div class="col-sm-2 text-center">
      <%= image_tag(current_user.avatar_url, :class => 'avatar lg img-circle', :alt => current_user.email) %>
    </div>
    <div class="col-sm-8">
      <textarea type="text" class="form-control" placeholder="Deja tu comentario al autor" ng-model="newSessionComment.body" rows="4"></textarea><br>
      <button class="btn btn-primary pull-right" ng-click="postComment()">Comentar</button>
    </div>
  </div>

  <div class="col-sm-10 text-right" style="padding-right:5px;margin:20px 0"><hr>
    <% if can? :review, SessionProposal %>
      <div class="btn btn-success"><a ng-href="#/sessions/review/{{session.id}}">Iniciar una revisión formal</a></div>
    <% end %>
    <div class="btn btn-default"><%= link_to "Volver", "#/sessions" %></div>
  </div>
</div>