<h1>Listing session_proposals</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @session_proposals.each do |session_proposal| %>
      <tr>
        <td><%= link_to 'Show', session_proposal %></td>
        <td><%= link_to 'Edit', edit_session_proposal_path(session_proposal) %></td>
        <td><%= link_to 'Destroy', session_proposal, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Session proposal', new_session_proposal_path %>
