$btn-primary-hover-bg: #286090;
$btn-info-hover-bg: #31b0d5;
$color-twitter: rgb(19,138,241);
$color-google: rgb(213,54,46);
$color-linkedin: rgb(21,114,178);

@import "bootstrap";
@import "font-awesome";
@import "home";
@import "cards";
@import "users";
@import "session_proposals";
@import "reviews";
@import "animate";
@import "toaster";
@import "toaster_overrides";
@import "popover_overrides";
@import "spinner";
@import "sticky";
@import "preprocessed";
@import "charts";
@import "notifications";
@import "reports";

html, body {
  max-width: 100%;
  overflow-x: hidden;
}

.content { padding-top: 75px; }

.btn a {
  color: inherit;
  &:hover { text-decoration: none !important; }
}

#user-menu-link { color: white; }

.nav-item { .btn { margin-top:3px; } }

.scrollable {
  overflow-y: scroll;
  overflow-x: hidden;  
}

.dropdown {
  &.open { .menu { display: block; } }

  .menu {
    margin-top: 8px;
    right: 0;
    min-width: 220px;
    position: absolute;
    background-clip: padding-box;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.15);
    display: none;
    border-radius: 0.25rem;
    padding: 5px 0;
    z-index: 1000;
  }
}

.clickable { cursor: pointer; }

.tt-menu.tt-open {
  background: rgba($brand-primary,0.75) !important;
  color: white !important;
  border: 1px solid $brand-primary !important;
  border-radius: 4px;
  
  .tt-suggestion { padding: 3px 30px 3px 10px; cursor: pointer; }
}

.avatar {
  width: 40px;
  height: 40px;
  margin: -10px 0;

  &.lg {
    width: 73px;
    height: 73px;
  }
}

.error {
  h3 { 
    font-weight: 300;
    span { font-size: 350%; }
  }
}

.loading {
  p { margin-top: 50px; }
  span { font-size: 300%; color: $brand-primary; }
}

.invalid-border { 
  border: 2px solid #a94442;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;

  &:focus { 
    border-color: #843534;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #ce8483;
  }
}

.form-control-label { font-weight: bold; text-align: right; }
.text-twitter { color: $color-twitter; }
