$btn-primary-hover-bg: #286090;
$btn-info-hover-bg: #31b0d5;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-select";
@import "home";
@import "users";
@import "session_proposals";
@import "animate";
@import "toaster";
@import "toaster_overrides";
@import "popover_overrides";
@import "spinner";
@import "sticky";

.content { padding-top: 50px; }

.btn a {
  color: inherit;
  &:hover { text-decoration: none !important; }
}

.scrollable {
  overflow-y: scroll;
  overflow-x: hidden;  
}

.clickable { cursor: pointer; }

.tt-suggestions {
  background: rgba($brand-primary,0.85) !important;
  color: white !important;
  border: 1px solid $brand-primary !important;
  border-radius: 4px;
  p { padding: 0 30px 0 10px; cursor: pointer; }
}

.avatar {
  width: 40px;
  height: 40px;
  margin: -10px 0;

  &.lg {
    width: 73px;
    height: 73px;
    margin-top: 0;
  }
}

.error {
  h3 { 
    font-weight: 300;

    span { font-size: 350%; }
  }
}

.loading {
  p { margin-top: 50px; }
  span { font-size: 300%; color: $brand-primary; }
}

.invalid-border { 
  border: 2px solid #a94442;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;

  &:focus { 
    border-color: #843534;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #ce8483;
  }
}
