$btn-primary-hover-bg: #286090;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-select";
@import "home";
@import "users";
@import "session_proposals";
@import "animate";

.content { padding-top: 50px; }

.btn a {
  color: inherit;
  &:hover { text-decoration: none !important; }
}

.scrollable {
  overflow-y: scroll;
  overflow-x: hidden;  
}
