.cards-container {
  display: block;
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-align-items: left;
  -webkit-moz-items: left;
  align-items: left;
  -webkit-justify-content: left;
  -moz-justify-content: left;
  justify-content: left;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-content: flex-end;
  -moz-align-content: flex-end;
  align-content: flex-end;
  margin-top: 15px;

  .card-placeholder {
    display: inline-block;
    display: box;
    align-self: center;

    @media (min-width: 34em) { width: 100%; }
    @media (min-width: 48em) { width: 50%; }
    @media (min-width: 62em) { width: 33.3%; }
  }

  .card-placeholder.ng-enter {
    -webkit-animation: fadeInUp 0.7s;
    animation: fadeInUp 0.7s;
  }

  .card-placeholder.ng-enter-stagger {
    -webkit-animation-delay:100ms;
    animation-delay:100ms;
    -webkit-animation-duration:0;
    animation-duration:0;
  }
}

.card {
  width: 96%;

  .card-block { padding-bottom: 5px; }

  .title { 
    a {
      color: $brand-primary;
      &:hover { text-decoration: none; color: $brand-primary; }
    }
  }

  .author {
    font-size: 90%;
    font-weight: 300;
    font-variant: small-caps;
    font-style: italic;
    margin: -10px 0 0 0;
  }

  .tags, .share {
    position: absolute;
    overflow: hidden;
    background-color: transparent;
    width: 100%;
    top: 75%;
    bottom: 35px;
    text-align: center;
    padding: 10px 5px 0 5px;
    border-radius: 0.25rem 0.25rem 0 0;
    z-index: 0;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

    &.visible {
      top: 0%;
      background-color: rgba(0,0,0,0.7);
    }
  }

  .tags.visible { z-index: 10; }

  .share.visible { 
    z-index: 11;

    .buttons { margin-top: 10px; }
  }

  .card-footer {
    font-size: 140%;
    padding: 0 15px;
  }
}

.card-animated {
  position: relative;
  display: inline-block;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
  }

  &:hover {
    -webkit-transform: scale(1.01, 1.01);
    transform: scale(1.01, 1.01);

    &::after { opacity: 1; }
  }
}

.spinner-social-share {
  font-size: 100%;
  color: white;
  position: absolute;
  margin-top: 5px;
  z-index: -1;
}
