.reviewers-comments-summary {
  td { vertical-align: middle !important; }

  .session a { color: black; }

  .comments {
    list-style: none;
    margin-left: -40px;
  }
}

.reviews-status-summary {
  .session a { color: black; }

  .reviews {
    list-style: none;
    margin-left: -40px;
  }

  .theme, .actions { vertical-align: middle; }
}