.reviewers-comments-summary {
  td { vertical-align: middle !important; }

  .session a { color: black; }

  .comments {
    list-style: none;
    margin-left: -40px;
  }
}

.reviews-status-summary {
  .session a { color: black; }

  .reviews {
    list-style: none;
    margin-left: -40px;
  }

  .theme, .actions { vertical-align: middle; }
}

.votes-count {
  font-size: 220%;
  font-weight: 100;
  border-radius: 50%;
  height: 70px;
  width: 70px;
  display: table;
  background: $brand-primary;
  color: white;

  span { 
    display: table-cell; 
    vertical-align: middle;
  }
}

.themes { font-size: 90%; }