.review-big-score {
  font-size: 120%;
  font-weight: 200;
  margin-top: 30px;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  display: table;

  span { 
    display: table-cell; 
    vertical-align: middle;
  }
}

.review-summary {
  .status, .score, .reviewer { vertical-align: middle; }
  .actions { margin: 10px 0; }  
}
