.card-columns {
  @media (max-width: 1199px) { 
    column-count: 2;
    -moz-column-count: 2;
    -webkit-column-count: 2;
  }
  
  @media (min-width: 1200px) {
    column-count: 3;
    -moz-column-count: 3;
    -webkit-column-count: 3;
  }

  margin-top: 15px;
}

.card {
  .card-block { padding-bottom: 5px; }

  .title { 
    a {
      color: $brand-primary;
      &:hover { text-decoration: none; color: $brand-primary; }
    }
  }

  .author {
    font-size: 90%;
    font-weight: 300;
    font-variant: small-caps;
    font-style: italic;
    margin: -10px 0 0 0;
  }

  .tags {
    position: absolute;
    overflow: hidden;
    background-color: transparent;
    width: 100%;
    top: 75%;
    bottom: 35px;
    text-align: center;
    padding: 10px 5px 0 5px;
    border-radius: 0.25rem 0.25rem 0 0;
    z-index: 9999;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;

    &.visible {
      top: 0%;
      background-color: rgba(0,0,0,0.7);
    }
  }

  .card-footer {
    font-size: 140%;
    padding: 0 15px;
  }
}

.card-animated {
  position: relative;
  display: inline-block;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    opacity: 0;
  }

  &:hover {
    // -webkit-transform: scale(1.01, 1.01);
    // transform: scale(1.01, 1.01);

    &::after { opacity: 1; }
  }
}

.matched-tags { padding: 10px 30px; }

.session-summary {
  border-bottom: 1px solid gray;
  padding-bottom: 10px;
  margin-top: 15px;

  .actions { font-size: 110%; padding-right: 15px; }

  .author {
    font-weight: 300;
    font-variant: small-caps;
    font-style: italic;
    margin: -10px 0 10px;
  }

  .track {
    font-weight: 500;
    margin: 10px 0;
  }

  h3 a { color: black; }
  h3 a:hover { color: $brand-primary; text-decoration: none !important; }
}

.session-detail {
  margin-top: 50px;

  img { margin-top: 32px; }
  .author, .date { margin-top: 10px; }
  .track { font-weight: 500; }
  .audience {
    font-weight: 300;
    padding-right: 20px;

    span.count { font-size: 130%; }
  }
}

.session-summary, .session-detail {
  .video-link {
    font-size:90%;
    &:hover { text-decoration: none; }

    span { 
      font-size:135%;
      vertical-align:text-bottom;
    }
  }
}

.session-comment {
  margin-top: 20px;

  .author, .date { margin-top: 10px; }
  .avatar { margin-top: 0px; }
}

.list-inline {
  li { display: inline; }
}

.tag {
  margin: 5px 5px 5px 0;
  font-weight: 300;
  border-radius: 5px;

  &.sm { 
    padding: 2px 10px;
    font-size: 75%;
  }
  &.lg { 
    padding: 3px 13px;
    font-size: 85%; 
  }
  &.border { border: 1px solid $brand-primary; }
  small { font-size: 70%; }
}

.action-button-container {
  display: table;
  // margin-left: auto;
  // margin-right: auto;
  // margin-top: 15px;
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 999;

  @media (max-width: 1199px) { 
    height: 47px;
    .divisor { height:47px; border-left:1px solid gray; margin:0 5px }
  }
  
  @media (min-width: 1200px) {
    height: 60px;
    .divisor { height:60px; border-left:1px solid gray; margin:0 5px }
  }
}

.btn-action {
  color: white; 
  display: table-cell; 
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(0,0,0,0.6);

  @media (max-width: 1199px) { 
    width: 47px; 
    height: 47px;
  }
  
  @media (min-width: 1200px) { 
    width: 60px; 
    height: 60px;
  }

  &:hover { 
    color: white; 
    text-decoration: none !important;
  }

  .icon, .text { font-size: 200%; }
}

.btn-action.non-clickable { 
  cursor: default !important;
}

.btn-action.primary { 
  background: $brand-primary;
  &:hover { background-color: $btn-primary-hover-bg !important; box-shadow: 0 5px 15px rgba(0,0,0,0.8); }
  &.non-clickable { &:hover { background-color: $brand-primary !important; } }
}

.btn-action.info { 
  background: $brand-info; 
  &:hover { background-color: $btn-info-hover-bg !important; box-shadow: 0 5px 15px rgba(0,0,0,0.8); }
  &.non-clickable { &:hover { background-color: $brand-info !important; } }
}

.no-search-results, .no-review-access {
  margin-top: 100px;
  
  h4 { font-weight: 200; }
  span { font-size: 500%; }
}

.session-profile-links {
  font-size: 300%;
  
  a { text-decoration: none !important; margin: 0 15px; }

  a.disabled {
    cursor: default;
    &:hover { text-decoration: none !important; color: #777777 !important; }
  }
}

.searchbox {
  input { 
    border-right: none !important;

    &:focus { border-color: none !important; }
  }
  div.input-group-addon { background-color: white; } 
}
