.search-unsticked {
  z-index:1040;
  position:relative;
}

.search-sticked {
  margin-left: 10px !important;
  height: 0;
  p { display: none !important; }

  .matched-tags {
    padding: 10px 30px;
    background-color: rgba(255,255,255,0.85);
    margin-top: -10px;
  }
}

.buttons-sticked { margin-left: 0px !important; }