.search-unsticked {
  padding:0 100px;
  z-index:1040;
  position:relative;
}

.search-sticked {
  margin-left: 10px !important;
  height: 0;
  p { display: none !important; }
}

.buttons-sticked { margin-left: 0px !important; }