.search-unsticked {
  z-index:1040 !important;
  position:relative;
}

.search-sticked {
  left: 350px !important;
  p { display: none !important; }
  div.form-group {
    margin: 0;
    width: 220%;
  }

  .matched-tags {
    position: fixed;
    background-color: rgba(255,255,255,0.85);
    top: 54px;
    left: 0;
  }
}
