.social-login-container {
  border: 1px solid $brand-primary;
  border-radius: 15px;

  h4 { text-align: center; }

  .btn-social { font-size: 400%; }
}

.social-login-association {
  h4 { text-align: center; }

  .btn-social { font-size: 400%; }

  div { display: table; }
  
  span {
    display: table-cell;
    vertical-align:middle;
    padding-left:20px;
  }
}

.form-control-warning, .form-control-danger { padding-right: 0; }