<% if notice %>
  <div class="alert alert-success text-center" role="alert"><%= notice %></div>
<% end %>
<% if alert %>
  <div class="alert alert-danger text-center" role="alert"><%= alert %></div>
<% end %>
