<% if notice %>
  <div data-alert-type="success" alert="<%= notice %>"></div>
<% end %>
<% if alert %>
  <div data-alert-type="error" alert="<%= alert %>"></div>
<% end %>

<toaster-container toaster-options="{'position-class': 'toast-bottom-left'}"></toaster-container>
